### Our custom ignores

# We want the user to create a copy of the sample folder and update the variables
functions/src/config.json

# We want the user to init firebase functions themselves to set these values
.firebaserc

### Generic ignores

# Compiled JavaScript files
functions/lib/**/*.js
functions/lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
